name: Android V8 non-i18n Build

concurrency:
  group: android_v8_non_i18n_build_${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:

env:
  JAVET_V8_VERSION: 14.4.258.16
  JAVET_VERSION: 5.0.3
  TEMPORAL_VERSION: 0.1.2
  ROOT: /home/runner/work/Javet

jobs:
  build_javet_lib:
    strategy:
      matrix:
        include:
          - v8_release: arm
            android_arch: arm
            android_abi: armeabi-v7a
            rust_target: armv7-linux-androideabi
          - v8_release: arm64
            android_arch: arm64
            android_abi: arm64-v8a
            rust_target: aarch64-linux-android
          - v8_release: ia32
            android_arch: x86
            android_abi: x86
            rust_target: i686-linux-android
          - v8_release: x64
            android_arch: x86_64
            android_abi: x86_64
            rust_target: x86_64-linux-android

    name: Build Javet ${{ matrix.android_arch }} non-i18n
    runs-on: ubuntu-latest

    steps:

    - name: Checkout the code
      uses: actions/checkout@v4

    - name: Setup Ubuntu
      run: |
        sudo apt-get install -y execstack gcc-multilib

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11' 

    - name: Setup Deno
      uses: denoland/setup-deno@v2
      with:
        deno-version: v2.x

    - name: Setup Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: stable

    - name: Install Rust target
      run: rustup target add ${{ matrix.rust_target }}

    - name: Setup Android NDK
      id: setup-ndk
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r29
        local-cache: false

    - name: Setup Path
      run: |
        echo "${{ env.ROOT }}/google/depot_tools" >> $GITHUB_PATH

    - name: Build V8
      run: |
        cd ${{ env.ROOT }}
        mkdir google
        cd google
        git clone --depth=10 --branch=main https://chromium.googlesource.com/chromium/tools/depot_tools.git
        cd depot_tools
        git checkout remotes/origin/main
        cd ..
        fetch v8
        cd v8
        git checkout ${{ env.JAVET_V8_VERSION }}
        ./build/install-build-deps.sh
        cd ..
        echo 'target_os = ["android"]' >> .gclient
        gclient sync -D
        cd v8
        # Replace the NDK because the NDK from V8 is broken.
        mv third_party/android_toolchain/ndk third_party/android_toolchain/ndk.bak
        ln -s ${{ steps.setup-ndk.outputs.ndk-path }} third_party/android_toolchain/ndk
        mkdir -p out.gn.android.non-i18n/${{ matrix.v8_release }}.release
        cp ../../Javet/scripts/v8/gn/android-${{ matrix.android_arch }}-non-i18n-args.gn out.gn.android.non-i18n/${{ matrix.v8_release }}.release/args.gn
        gn gen out.gn.android.non-i18n/${{ matrix.v8_release }}.release
        ninja -C out.gn.android.non-i18n/${{ matrix.v8_release }}.release v8_monolith

    - name: Build Temporal CAPI
      run: |
        cd ${{ env.ROOT }}
        git clone https://github.com/boa-dev/temporal.git
        cd temporal
        git checkout v${{ env.TEMPORAL_VERSION }}
        deno run --allow-all ../Javet/scripts/deno/patch_v8_temporal.ts -p ./
        cargo build --release --target ${{ matrix.rust_target }} --package temporal_capi --features compiled_data,zoneinfo64
        cp target/${{ matrix.rust_target }}/release/libtemporal_capi.a ../google/v8/out.gn.android.non-i18n/${{ matrix.v8_release }}.release/obj

    - name: Setup JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: corretto
        java-version: 11

    - name: Setup Cmake
      uses: jwlawson/actions-setup-cmake@v2.0
      with:
        cmake-version: '3.23.x'

    - name: Build Javet JNI
      run: |
        cd ${{ env.ROOT }}/Javet/cpp
        deno run build --os android --arch ${{ matrix.android_arch }} --v8-dir ${{ env.ROOT }}/google/v8 --android-ndk ${{ steps.setup-ndk.outputs.ndk-path }}

    - name: Upload the Artifact
      uses: actions/upload-artifact@v4
      with:
        name: javet-android-v8-${{ matrix.android_arch }}-${{ env.JAVET_VERSION }}-non-i18n
        path: android/javet-android/src/main/jniLibs/${{ matrix.android_abi }}/*.so

  build_javet_aar:
    needs: [build_javet_lib]
    name: Build Javet AAR
    runs-on: ubuntu-latest

    steps:

    - name: Checkout the code
      uses: actions/checkout@v4

    - name: Setup JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: corretto
        java-version: 17

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11' 

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: 8.10.2

    - name: Prepare JNI Libs
      run: |
        mkdir -p android/javet-android/src/main/jniLibs/armeabi-v7a
        mkdir -p android/javet-android/src/main/jniLibs/arm64-v8a
        mkdir -p android/javet-android/src/main/jniLibs/x86
        mkdir -p android/javet-android/src/main/jniLibs/x86_64

    - name: Download Javet arm non-i18n
      uses: actions/download-artifact@v4
      with:
        name: javet-android-v8-arm-${{ env.JAVET_VERSION }}-non-i18n
        path: android/javet-android/src/main/jniLibs/armeabi-v7a

    - name: Download Javet arm64 non-i18n
      uses: actions/download-artifact@v4
      with:
        name: javet-android-v8-arm64-${{ env.JAVET_VERSION }}-non-i18n
        path: android/javet-android/src/main/jniLibs/arm64-v8a

    - name: Download Javet x86 non-i18n
      uses: actions/download-artifact@v4
      with:
        name: javet-android-v8-x86-${{ env.JAVET_VERSION }}-non-i18n
        path: android/javet-android/src/main/jniLibs/x86

    - name: Download Javet x86_64 non-i18n
      uses: actions/download-artifact@v4
      with:
        name: javet-android-v8-x86_64-${{ env.JAVET_VERSION }}-non-i18n
        path: android/javet-android/src/main/jniLibs/x86_64

    - name: Build the Artifact
      run: |
        cd ${{ env.ROOT }}/Javet/scripts/python
        python3 patch_android_build.py
        cd ${{ env.ROOT }}/Javet/android
        gradle build --debug

    - name: Upload the Artifact
      uses: actions/upload-artifact@v4
      with:
        name: javet-android-v8-${{ env.JAVET_VERSION }}-non-i18n
        path: android/javet-android/build/outputs/aar/javet*release.aar

    - name: Delete Javet arm non-i18n
      uses: geekyeggo/delete-artifact@v4
      with:
        name: javet-android-v8-arm-${{ env.JAVET_VERSION }}-non-i18n

    - name: Delete Javet arm64 non-i18n
      uses: geekyeggo/delete-artifact@v4
      with:
        name: javet-android-v8-arm64-${{ env.JAVET_VERSION }}-non-i18n

    - name: Delete Javet x86 non-i18n
      uses: geekyeggo/delete-artifact@v4
      with:
        name: javet-android-v8-x86-${{ env.JAVET_VERSION }}-non-i18n

    - name: Delete Javet x86_64 non-i18n
      uses: geekyeggo/delete-artifact@v4
      with:
        name: javet-android-v8-x86_64-${{ env.JAVET_VERSION }}-non-i18n
