name: Pages Build

on:
  push:

env:
  PYTHON_VERSION: '3.10'

jobs:

  javet_docs:

    name: Javet Docs
    runs-on: windows-2019

    steps:

    - name: Checkout the code
      uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: '8'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3
      with:
        gradle-version: 8.2

    - name: Setup Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install Sphinx
      run: choco install sphinx

    - name: Install Python dependencies
      run: python -m pip install -r .\docs\requirements.txt

    - name: Build Sphinx docs
      run: sphinx-build -M html .\docs .\docs\_build
    
    - name: Build Javadoc
      run: gradle javadoc
      
    - name: Copy Javadoc
      run: xcopy /y/s build\docs\javadoc .\docs\_build\html\reference\javadoc

    - name: Upload the artifact
      uses: actions/upload-artifact@v4
      with:
        name: javet-docs
        path: ./docs/_build/html
